.main-table {
    border: 2px solid #615f61;
}

.descr-items {
    height: 38px;
}

.descr-item {
    max-width: 164.41px;
    background: #474645;
    color: whitesmoke;
    text-align: center;
}

.descr-item__id {
    width: 20%;
    border-left: 1px solid yellow;
}

.descr-item__text {
    word-wrap: break-word;
    width: 50%;
    max-width: 274px;
    overflow: hidden;
}

.descr-item__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}

.descr-item__edit {
    cursor: pointer;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descr-item__remove {
    cursor: pointer;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-menu {
    height: 38px;
    display: flex;
    flex-direction: column;
}

.editor-menu__input {
    height: 50%;
    text-align: center;
    color: whitesmoke;
    background-color: #474645;
    outline: none;
}

.editor-menu__button {
    cursor: pointer;
    height: 50%;
    background-color: silver;
    font-weight: bold;
    border: none;
}

.editor-menu__button:hover {
    background-color: #c0c0c0b0;
}

.empty {
    height: 38px;
    text-align: center;
    color: #e1e1e1;
}