.main-table {
    border: 2px solid #615f61;
}

.descr-item {
    background: #474645;
    color: whitesmoke;
    text-align: center;
}

.descr-item__id {
    width: 20%;
    border-left: 1px solid yellow;
}

.descr-item__text {
    word-wrap: break-word;
    width: 50%;
    max-width: 274px;
    overflow: hidden;
}

.descr-item__remove {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descr-item__remove img {
    cursor: pointer;
    height: 100%;
}